#------------------------------------------------------------------------------#
#                     .gitignore for ITA-Solar/tp                              #
#------------------------------------------------------------------------------#

# Emacs backup files
*~
# Emacs autosave files
\#*\#
# Vim backup-files?
\.\#*
#Data files
data/
**/data/
# Trace particle data
*.tp
*.bg
*.mesh
# Julia-testing file
test.jl
